/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/
/* 1. Main Layout ================================= */
* {
  box-sizing: border-box; }

html, body {
 width: 100%;
 height: 100%;
   }

body {
  font-family: helvetica, arial, sans-serif;
  text-rendering: optimizeLegibility;
}


/*NAVIGATION*/



a {
  text-decoration: none;
  color: inherit;
}
.nav {
  width: 100%;
  height: 38px;
  background: #373c3f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ebebeb;
  padding-left: 6%;
  
}

.nav span {
  font-size: 1em;
  align-self: center;
}

.menu {
  display: none;
}




.hamburger {
  width: 40px;
  height: 38px;
  background: #202529;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;}

.bar{
  width: 41.46%;
  height: 3px;
  background: #fff;
  margin-top: 2px;
}



.section-one{
  background: #16b1c4;
  width: 100%;
  height: 175px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.section-one h1 {
  color: #fff;
  font-size: 1.5em;
  letter-spacing: .06em;
  padding-left: 10%;
  width: 90%;
}

.section-one h2 {
  color: #fff;
  font-size: 1em;
  opacity: .6;
  letter-spacing: .06em;
  padding-left: 10%;
  margin-top: 3%;
}



.section-two{
  background: #27212c;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
}


.robin-hood {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: #a08faf
}

.robin-hood h2 {
  align-self: center;
  font-size: .8em;
  letter-spacing: .06em;
}

.pink-arrow {
  background: #bc3183;
  width: 25%;
  height: 100%;
}



.section-three {
  display: flex;
  flex-direction: column;
  width: 100%
}

.one-third {
  height: 275px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.purple-arrow {
  background: #5b0fa1;
}

.bridge-img{
  background-image: url(../img/bridge.png);
}
.woman-img{
  background-image: url(../img/woman.png);
}


.description {
  background: #ebebeb;
  display: flex;
  flex-direction: column;
  padding: 10%;
}

.description h2 {
  color: #088ca5;
  font-size: 1.5em;
  letter-spacing: .06em;
}

.paragraph {
  display: flex;
  flex-direction: column;
}

.paragraph p {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1em;
}


@media screen and (min-width: 640px) {

  .nav {
  width: 100%;
  height: 75px;
  background: #373c3f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ebebeb;
  padding-left: 6%;
  
}

.nav span {
  font-size: 1.3em;
  letter-spacing: .06em;
  align-self: center;
}

.hamburger {
  width: 84px;
  height: 75px;
  background: #202529;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;}

.bar{
  width: 41.46%;
  height: 3px;
  background: #fff;
  margin-top: 5px;
}

  .menu {
    display: none;
  }

  .section-one{
  background: #16b1c4;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.section-one h1 {
  color: #fff;
  font-size: 2.2em;
  letter-spacing: .08em;
  padding-left: 10%;
  width: 90%;
}

.section-one h2 {
  color: #fff;
  font-size: 1.3em;
  opacity: .6;
  letter-spacing: .08em;
  padding-left: 10%;
  margin-top: 3%;
}



.section-two{
  background: #27212c;
  width: 100%;
  height: 155px;
  display: flex;
  justify-content: space-between;
}

.robin-hood {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 10%;
  color: #a08faf
}

.robin-hood h2 {
  align-self: center;
  font-size: 1em;
  letter-spacing: .08em;
}

  .one-third {
  height: 550px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.description h2 {
  color: #088ca5;
  font-size: 2.2em;
  letter-spacing: .08em;
}


.paragraph p {
  font-size: 1.3em;
  line-height: 1.5em;
  margin-top: 1em;
}



@media screen and (min-width: 980px) {



 .nav {
  width: 100%;
  height: 100px;
}

.nav span {
 display: none;
}


.menu {
display: flex;
justify-content: space-around;
align-items: center;
font-weight: bold;
font-size: 1em;
background: #373c3f;
text-align: center;
width: 60%
}

.menu ul{
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.menu ul li:first-child a {
  padding: 0 10px 0 0;
}

.menu li {
  display: flex;
}


.hamburger {
  display: none;
}

 .section-one{
  height: 550px;
}

.section-one h1 {
  font-size: 3.3em;
  letter-spacing: .1em;
}

.section-one h2 {
  font-size: 1.6em;
  letter-spacing: .08em;
}

.section-two{
  height: 235px;
  display: flex;
  justify-content: space-between;
}

.robin-hood h2 {
  font-size: 1.3em;
  letter-spacing: .09em;
}


.section-three {
  height: 290px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

  .one-third {
  height: 100%;
  width: 33.333%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.description h2 {
  color: #088ca5;
  font-size: 2.3em;
  letter-spacing: .08em;
}

.paragraph {
  display: flex;
  flex-direction: row;
}

.paragraph p {
  font-size: 1.3em;
  line-height: 1.5em;
  margin-top: 1em;
}

}

@media screen and (min-width: 1024px) {

 .section-one{
  height: 575px;
}

.section-one h1 {
  font-size: 3.5em;
  letter-spacing: .1em;
}

.section-one h2 {
  font-size: 1.8em;
  letter-spacing: .08em;
}

.section-two{
  height: 245px;
}




} 



/*# sourceMappingURL=main.css.map */
